<!-- <ion-card-header>
  <ion-card-title>📋 Prenotazioni</ion-card-title>
</ion-card-header>
<ion-card-content>
  <ion-list *ngIf="!loading; else loadingTpl">
    <ion-item *ngFor="let r of reservations">
      <ion-label>
        🏠 {{ r.room_name }} | 👤 {{ r.user_name }} | 📅
        {{ r.date_reservation }} ⏰ {{ r.time_reservation }}
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #loadingTpl>
    <ion-item>📡 Caricamento prenotazioni...</ion-item>
  </ng-template>
</ion-card-content> -->
