<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <!-- <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event)">
          <ion-icon
            slot="icon-only"
            ios="ellipsis-horizontal"
            md="ellipsis-vertical"
          ></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>
  <app-add-reservation (added)="table.loadReservations()"></app-add-reservation>

  <app-reservations-table #table></app-reservations-table>
  <!-- mettere import e viewchild nel ts relativo file tabella prenotazioni e richiamare la funzione loadReservations dopo aver aggiunto una prenotazione -->
</ion-content>
