<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title>Prenotazioni</ion-title>

      <ion-buttons slot="end">
        <!-- Bottone di stampa -->
        <ion-button (click)="printReservations()">
          <ion-icon slot="icon-only" name="print-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Form di aggiunta prenotazione -->
  <app-add-reservation (added)="table.loadReservations()"></app-add-reservation>

  <!-- Tabella delle prenotazioni -->
  <app-reservations-table #table></app-reservations-table>
  <!-- Floating Print Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="printReservations()">
      <ion-icon name="print-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
