<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Modifica Prenotazione</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Chiudi</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Cliente</ion-label>
    <ion-input [(ngModel)]="reservation.user_name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Numero Tavolo</ion-label>
    <ion-input type="number" [(ngModel)]="reservation.phone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Data</ion-label>
    <ion-input
      type="date"
      [(ngModel)]="reservation.date_reservation"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ora</ion-label>
    <ion-input
      type="time"
      [(ngModel)]="reservation.time_reservation"
    ></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="save()"
    >Aggiorna</ion-button
  >
</ion-content>
